body
{
	
	background-color: #000000 ;
	text-align: center;

}

#container
{
	text-align: center;
}



button
{
	font-size: 40px;
	padding: 12Px;
	margin: 20px;
    border :none;
	background-color: transparent;
	color: red;
}


*
{
	text-align: center;
}
